body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.pagina {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border:pink 10px solid;
}

.coracoes {
    font-size: 36px;
    cursor: pointer;
    transition: transform 0.3s;
}

#cliqueAqui {
    display: none;
    color: red;
    font-size: 14px;
    margin-left: 5px;
    transition: opacity 0.3s;
}